{% extends 'index.html' %}
{% block title %} Add Tag {% endblock %}
{% block content %}

<h1>Create a tag</h1>

<form action="/tags/new" method="POST">
    <div class="form-group row">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" placeholder="Please enter a tag name">
    </div>

    <div class="form-check form-group row">
        <label for="posts">Decide if this tag applies to any posts out there:</label>
        {% for post in posts %}
        <div>
            <input type="checkbox" class="form-input" value="{{post.id}}" name="posts">
            <label class="form-check-label" for="post_{{post.id}}">{{post.title}}</label>
        </div>
        {% endfor %}
    </div>

    <div class="form-group">
        <a href="/tags" class="btn btn-outline-primary">Cancel</a>
        <button type="submit" class="btn btn-outline-success">Add</button>
    </div>
</form>

{% endblock %}